<header class="header">

    <div class="logo">
      <img width="150 px" src="./assets/images/LogoPulpo.png" alt="Logo del gimnasio" />
    </div>

    <nav class="nav-container">
      <button class="botonSombra" role="button">Inicio</button>
      <button class="botonSombra" role="button">Nosotros</button>
      <button class="botonSombra" role="button">Servicios</button>
      <button class="botonSombra" role="button">Contacto</button>
    </nav>

  </header>
  <app-banner></app-banner>



  <div class="main1-container">
    <main>
      <h1>Transforma tu cuerpo, transforma tu vida</h1>


      <div class="aside">
        <section>
          <img src="/assets/images/boxing.png" alt="Boxeo">
          <img src="/assets/images/ergometric.png" alt="Ergometric">
          <img src="/assets/images/pesasjpeg (1).png" alt="Pesas">
          <img src="/assets/images/swimming.png" alt="Swimming">
        </section>
      </div>

      <div class="main2-container">

        <div class="sub1">
          <h3> No Pain</h3>
          <h3> No Gain</h3>

        </div>
      </div>

    </main>

  </div>
